#particles-js{
    position: relative;
    /* width: 100%;
    height: 100%; */
    /* z-index: 99 !important; */
}

.particles-js-canvas-el{
    position: absolute !important;
    top: 0;
    left: 0;
    /* width: 100% !important;
    height: 100% !important; */
    z-index: 1 !important;
}
.ff-jost {
    font-family: "Jost", sans-serif;
}
.ff-tangerine{
    font-family: "Tangerine", cursive;
    font-weight: 700;
}
.t-color-1 {
    color: white;
}
.t-color-2 {
    color: #5C5C5C;
}
.bg-color-1 {
    background-color: black;
}
.pt-90{
    padding-top: 90px;
}
.py-90{
    padding: 90px 0px;
}
.w-80{
    width: 80px;
}
.logo-w{
    width: 50% !important;
}
.btn-1 {
    background-color: #F7F7F7;
    color: black;
    transition: all 0.5s;
}
.btn-1:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 6px 15px;
    transform: scale(1.15);
}
.underline{
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(white,white);
    background-size: 0 2px,1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: all .5s ease-in;
}
.underline:hover{
    background-size: 100% 2px,auto;
}
.banner{
    height: 750px;
}
.skills{
    background-color: white;
    transition: all 0.5s;
}
.skills:hover{
    transform: scale(1.1);
}
.projects{
    background-color: white;
    transition: all 0.5s;
}
.projects:hover{
    transform: scale(1.1);
}
.contect{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
.photo{
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50%;
    border: 5px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-image: url('../imges/IMG_9566.jpeg'); */
}