.ff-jost {
    font-family: "Jost", sans-serif;
}
.t-color-1 {
    color: white;
}
.t-color-2 {
    color: #5C5C5C;
}
.bg-color-1 {
    background-color: black;
}
/* .bg-gradient-1{
    background: rgb(0,0,0) !important;
    background: linear-gradient(0deg, rgba(0,0,0,1) 9%, rgba(0,0,0,0.9) 48%, rgba(255,255,255,1) 100%) !important;
}
.bg-gradient-2{
    background: rgb(0,0,0) !important;
    background: linear-gradient(180deg, rgba(0,0,0,1) 21%, rgba(255,255,255,1) 100%) !important;
} */
.pt-90{
    padding-top: 90px;
}
.w-80{
    width: 80px;
}
.btn-1 {
    background-color: #F7F7F7;
    color: black;
    transition: all 0.5s;
}
.btn-1:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 6px 15px;
    transform: scale(1.15);
}
.banner {
    height: 100vh;
}
.skills{
    background-color: white;
    transition: all 0.5s;
}
.skills:hover{
    transform: scale(1.1);
}
.projects{
    background-color: white;
    
    transition: all 0.5s;
}
.projects:hover{
    transform: scale(1.1);
}